#logo{
    width: 180px;
    position: absolute;
    top: 45%;
    left: 10px;
}

#bg-logo{
    position: relative;
    background-image: url(img/pattern.png);
    height: 100px;
    background-size: 400px;
    background-color: #509af7 ;
}

#azzurro{
    color: rgb(2, 170, 212);
}

.lightgray{
color: rgb(168, 168, 168);
}

#font-size-foto{
    font-size: small;
}

.evidenziatore{
    background-color: rgb(251, 255, 0);
}

thead{
    width: 100px; ;
    color: white;
    background-color: #509af7;
    border: 0px;
}

tr{
    height: 50px;
}

.tbcolor{
    background-color: rgb(125, 214, 214);
}

#white1{
    position: absolute;
    color: white;
    left: 20px;
}

#white2{
    position: absolute;
    color: white;
    left: 20px;
}